body, html {
    margin:0; padding:0;
    width:100%; height:100%;
    background-color: #282832;
      max-height: 690px!important;
}

* { width:100%; height:100%;
    box-sizing: border-box;
}

startScreen{
    color:#f7f7f7;
    background-color:#282832;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

level{
    max-height: 960px!important;
    position: absolute;
}


tank {
    width: 102px;
    height: 100px;
    background-image: url(../img/tank.svg);
    background-repeat: no-repeat;
    display: block;
    background-size: 100%;
    z-index: 9999;
    position: absolute;
    bottom: 20px;
}


gasBar {
    width: 80px;
    height: 20px;
    background-color:#d23535;
    background-image: url(../img/gas.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 20px;
    z-index: 9999;
    margin-top: -45px;
    margin-left: 15px;

}

healthBar {
    width: 80px;
    height: 20px;
    background-color:green;
    background-repeat: no-repeat;
    display: block;
    background-size: 20px;
    z-index: 9999;
    margin-top: 2px;
    margin-left: 15px;

}

soldierHealthBar {
    width: 40px;
    height: 10px;
    background-color:green;
    background-repeat: no-repeat;
    display: block;
    background-size: 20px;
    z-index: 9999;
    margin-top: -10px;
    margin-left: 0px;

}

gasPowerUp {
    width: 50px;
    height: 50px;
    background-color:#d23535;
    background-image: url(../img/gas.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 40px;
    z-index: 9999;

}

nuke {
    width: 300px;
    height: 400px;
    background-image: url(../img/nuke.png);
    background-repeat: no-repeat;
    display: block;
    background-size: 200px;
    z-index: 9999;
}

bullet {
    width: 10px;
    height: 2px;
    background-color:#FFC107;
    display: block;
    background-size: 100%;
    z-index: 9999;
    position: absolute;
    bottom: 25px;
}


bulletCount {
    font-size:20px;
    color:#f7f7f7;
    margin: 50px 0px 0px 30px;
    position: fixed
}

rocket {
    width: 25px;
    height: 25px;
    background-image: url(../img/bullet.png);
    display: block;
    background-size: 100%;
    z-index: 9999;
    position: absolute;
    bottom: 25px;
    
}

rocketCount {
    font-size:20px;
    color:#f7f7f7;
    margin: 100px 0px 0px 30px;
    position: fixed;
}


soldier {
    background-image: url(../img/soldier-sword.png);
    display: block;
    z-index: 9999;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 60px;
}

ground{
    background-color:grey;
    height:80px;
    bottom: 0;
    position: absolute;
}

.key{
    width: 19%;
    height: 5000px;
    background-image: url(../img/arrows.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.key-p{
    width: 13%;
    height: 334.5%;
    background-image: url(../img/p-o.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.space-key{
    width: 30%;
    height: 272%;
    background-image: url(../img/space-key.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.start-text{
    flex: 1;
    margin-top: 10%;
}

.control-text{
    color:gray;
}

